@media (min-width: 768px){
    #customer_details{
        width: 50%;
		float: left;
		padding-right: 50px;
    }
    #order_review_heading{
        float: left;
    }
    #order_review{
        width: 50%;
    	float: left;
    }
    .woocommerce table.shop_table td{
        width: 50%;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
        width: 100%;
    }
}